<h2>Edit <%= @user.name.to_s.humanize %></h2>

<%= form_for(@user, html: { method: :put }) do |f| %>
<div class="content">
    <div class="container">
      <div class="row sp-xs-m-0">
        <div class="col-md-12">
          <div class="form-item-block">
            <div class="field">
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="form-item-block">
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="form-item-block">
            <div class="fields">
              <%= f.fields_for :address, OpenStruct.new(f.object.address) do |a| %>
                <div class="field">
                    <label>Street address </label>
                    <%= a.text_field :street_address, id: :street_address %>
                </div>
                <div class="field">
                    <label>City </label>
                    <%= a.text_field :city, id: :city %>
                </div>
                <div class="two wide field">
                    <label>State </label>
                    <%= a.text_field :state, id: :state %>
                </div>

                <div class="field">
                    <label>Zip </label>
                    <%= a.number_field :zip_code, id: :zip_code %>
                </div>
                <% if @user == current_user  %>
                  <div class="field">
                      <label>Phone Number </label>
                      <%= a.text_field :phone_number %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="field">
            <%= f.label :profile_picture %>
            <%= f.file_field :profile_picture %>
          </div>
          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
</div>

<% end %>
<% unless @user.admin? %>
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>
